<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education INFO</title>
    <%- include("shared/links"); %>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!-- Header -->
    <%- include("shared/header", {loggedin : isAuth}); %>

    <!-- Education -->
    <% if(arr.length === 0) { %>
        <div class="container mt-5 d-flex justify-content-center " id="educationDiv">
            <div class="col-md-8 col-lg-6 form-container">
                <h3 class="text-center mb-4">Fill Up Education</h3>
                <form>
                    <div class="multipleEducation">
                       <div class="moreEducation">
                        <div class="mb-3">
                            <label for="DegreeName" class="form-label">Degree Name</label>
                            <input type="text" class="form-control degreeName" placeholder="Enter Degree name">
                            <small class="text-danger degreeError"></small>
                        </div>
                        <div class="mb-3">
                            <label for="percentage" class="form-label">Percentage</label>
                            <input type="text" class="form-control percentage" placeholder="Enter Percentage">
                            <small class="text-danger percentageError"></small>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="datetime-local" class="form-control start" placeholder="start year"/>
                            <label>Start year</label>
                            <small class="text-danger startError"></small>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="datetime-local" class="form-control end" placeholder="End year"/>
                            <label>End year</label>
                            <small class="text-danger endError"></small>
                        </div>
                       </div>
                    </div>
                    <div>
                        <div class="d-flex justify-content-around align-items-center mb-3">
                            <button type="button" class="btn btn-primary" id="educationDetails">Save Details</button>
                            <button type="button" class="btn btn-secondary" onclick="gotoWorkExpPage()">Next page</button>
                        </div>
                        <div class="d-flex justify-content-around align-items-center">
                            <button type="button" class="btn btn-warning" onclick="gotoPersonalPage()">Previous page</button>
                        </div>
                        <div class="d-flex justify-content-around align-items-center">
                            <button type="button" class="btn" onclick=moreEducation()>
                                <img src="/images/add-file.png" alt="" width="40px" height="40px">
                            </button>
                            <button type="button" class="btn" onclick=removeDiv()>
                                <img src="/images/minus-sign.png" alt="" width="45px" height="45px">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <% }else{ %>
            <div class="container mt-5 d-flex justify-content-center " id="educationDiv">
                <div class="col-md-8 col-lg-6 form-container">
                    <h3 class="text-center mb-4">Fill Up Education</h3>
                    <form>
                        <div class="multipleEducation"> 
                            <% arr.forEach(function(item){ %>
                                <div class="moreEducation"> 
                                    <div class="mb-3">
                                        <label for="DegreeName" class="form-label">Degree Name</label>
                                        <input type="text" class="form-control degreeName" value="<%=item.degree_name%>" placeholder="Enter Degree name">
                                        <small class="text-danger degreeError"></small>
                                    </div>
                                    <div class="mb-3">
                                        <label for="percentage" class="form-label">Percentage</label>
                                        <input type="text" class="form-control percentage"  value="<%=item.percentage%>" placeholder="Enter Percentage">
                                        <small class="text-danger percentageError"></small>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="datetime-local" class="form-control start" value="<%= item.start_year.toISOString().slice(0, 16) %>" placeholder="start year"/>
                                        <label>Start year</label>
                                        <small class="text-danger startError"></small>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input type="datetime-local" class="form-control end" value="<%= item.end_year.toISOString().slice(0, 16) %>" placeholder="End year"/>
                                        <label>End year</label>
                                        <small class="text-danger endError"></small>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                        <div>
                            <div class="d-flex justify-content-around align-items-center mb-3">
                                <button type="button" class="btn btn-primary" id="educationDetails">Save Details</button>
                                <button type="button" class="btn btn-secondary" onclick="gotoWorkExpPage()">Next page</button>
                            </div>
                            <div class="d-flex justify-content-around align-items-center">
                                <button type="button" class="btn btn-warning" onclick="gotoPersonalPage()">Previous page</button>
                            </div>
                            <div class="d-flex justify-content-around align-items-center">
                                <button type="button" class="btn" onclick=moreEducation()>
                                    <img src="/images/add-file.png" alt="" width="40px" height="40px">
                                </button>
                                <button type="button" class="btn" onclick=removeDiv()>
                                    <img src="/images/minus-sign.png" alt="" width="45px" height="45px">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    <% } %>
<!-- isostring me hi ata h date no matter the datatype in mySql -->

    <script src="/js/education.js"></script>
</body>
</html>
