<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job History INFO</title>
    <%- include("shared/links"); %>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!-- Header -->
    <%- include("shared/header", {loggedin : isAuth}); %>

    <!-- Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast hide" id="addToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="/images/detail.png" class="rounded me-2" alt="..." width="40" height="40">
                <strong class="me-auto">AI resume</strong>
                <small class="text-body-secondary">just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-black">
                Work Experience added in DB
            </div>
        </div>
    </div>

    <!-- Job history -->
     
    <!-- form ko .multipleJob isiliye nhi diya kyuki wo phir btn div k niche (last me) append hoga isiliye ab div me append krrhe  -->
    <% if(arr.length === 0) { %>
        <div class="container mt-5 d-flex justify-content-center ">
            <div class="col-md-8 col-lg-6 form-container">
                <h3 class="text-center mb-4">Fill Up Work Experience</h3>
                <form>
                    <div class="multipleJob">
                        <div class="moreworkExp">
                            <div class="mb-3">
                                <label for="companyName" class="form-label">Company Name</label>
                                <input type="text" class="form-control companyName" placeholder="Enter company name">
                                <small class="text-danger companyError"></small>
                            </div>
                            <div class="mb-3">
                                <label for="Discription" class="form-label">Discription</label>
                                <textarea type="text" class="form-control Discription" placeholder="Enter Discription"></textarea>
                                <small class="text-danger discriptionError"></small>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Start year</label>
                                <input type="datetime-local" class="form-control startJob" placeholder="start year"/>
                                <small class="text-danger startError"></small>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">End year</label>
                                <input type="datetime-local" class="form-control endJob" placeholder="End year"/>
                                <small class="text-danger endError"></small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex justify-content-around align-items-center mb-3">
                            <button type="button" class="btn btn-primary" id="jobDetails">Save Job history</button>
                            <button type="button" class="btn btn-secondary" onclick="gotoSkillsPage()">Next page</button>
                        </div>
                        <div class="d-flex justify-content-around align-items-center">
                            <button type="button" class="btn btn-warning" onclick="gotoEducationPage()">Previous page</button>
                        </div>
                        <div class="d-flex justify-content-around align-items-center">
                            <button type="button" class="btn" onclick=moreExperience()>
                                <img src="/images/add-file.png" alt="" width="40px" height="40px">
                            </button>
                            <button type="button" class="btn" onclick=removeDiv()>
                                <img src="/images/minus-sign.png" alt="" width="45px" height="45px">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <% }else{ %>
        <div class="container mt-5 d-flex justify-content-center ">
            <div class="col-md-8 col-lg-6 form-container">
                <h3 class="text-center mb-4">Fill Up Work Experience</h3>
                <form>  
                    <div class="multipleJob mt-4">
                        <% arr.forEach(function(item){ %>
                            <div class="moreworkExp">
                                <div class="mb-3">
                                    <label for="companyName" class="form-label">Company Name</label>
                                    <input type="text" class="form-control companyName" value="<%=item.company_name%>" placeholder="Enter company name">
                                    <small class="text-danger companyError"></small>
                                </div>
                                <div class="mb-3">
                                    <label for="Discription" class="form-label">Discription</label>
                                    <textarea type="text" class="form-control Discription" placeholder="Enter Discription"><%=item.discription%></textarea>
                                    <small class="text-danger discriptionError"></small>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Start year</label>
                                    <input type="datetime-local" class="form-control startJob" value="<%= item.start_year.toISOString().slice(0, 16) %>" placeholder="start year"/>
                                    <small class="text-danger startError"></small>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">End year</label>
                                    <input type="datetime-local" class="form-control endJob" value="<%= item.end_year.toISOString().slice(0, 16) %>" placeholder="End year"/>
                                    <small class="text-danger endError"></small>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div>
                        <div class="d-flex justify-content-around align-items-center mb-3">
                            <button type="button" class="btn btn-primary" id="jobDetails">Save Job history</button>
                            <button type="button" class="btn btn-secondary" onclick="gotoSkillsPage()">Next page</button>
                        </div>
                        <div class="d-flex justify-content-around align-items-center">
                            <button type="button" class="btn btn-warning" onclick="gotoEducationPage()">Previous page</button>
                        </div>
                        <div class="d-flex justify-content-around align-items-center">
                            <button type="button" class="btn" onclick=moreExperience()>
                                <img src="/images/add-file.png" alt="" width="40px" height="40px">
                            </button>
                            <button type="button" class="btn" onclick=removeDiv()>
                                <img src="/images/minus-sign.png" alt="" width="45px" height="45px">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
    <!-- isostring me hi ata h date no matter the datatype in mySql -->


    <script src="/js/jobHistory.js"></script>
</body>
</html>
