<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills INFO</title>
    <%- include("shared/links"); %>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <!-- Header -->
    <%- include("shared/header", {loggedin : isAuth}); %>
    <% let skillCount=1 %>
    <!-- Skills -->
    <% if(arr.length === 0) { %>
        <div class="container mt-5 d-flex justify-content-center " id="SkillsDiv">
            <div class="col-md-8 col-lg-6 form-container">
                <h3 class="text-center mb-4">Fill Up Skills</h3>
                <form>
                    <div class="multipleSkills"> 
                        <div class="moreSkills"> 
                            <div class="mb-3">
                                <label for="skillName1" class="form-label">Skill-<%= skillCount++ %></label>
                                <input type="text" class="form-control skillName1" placeholder="Enter Skill">
                                <small class="text-danger skill0Error"></small>
                            </div>
                            <div class="mb-4">
                                <label for="customRange1" class="form-label">select ratings</label>
                                <input type="range" class="form-range customRange1" min="0" max="5">
                                <small class="text-danger range0Error"></small>
                            </div>
                            <div class="mb-3">
                                <label for="skillName2" class="form-label">Skill-<%= skillCount++ %></label>
                                <input type="text" class="form-control skillName2" placeholder="Enter Skill">
                                <small class="text-danger skill1Error"></small>
                            </div>
                            <div class="mb-4">
                                <label for="customRange2" class="form-label">select ratings</label>
                                <input type="range" class="form-range customRange2" min="0" max="5">
                                <small class="text-danger range1Error"></small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex justify-content-around align-items-center mb-3">
                            <button type="button" class="btn btn-primary" id="skillsDetails">Save Skills</button>
                            <button type="button" class="btn btn-secondary" onclick="gotoNXTPage()">Nxt page</button>
                        </div>
                        <div class="d-flex justify-content-around align-items-center">
                            <button type="button" class="btn btn-warning" onclick="gotoWorkExpPage()">Previous page</button>
                        </div>
                        <div class="d-flex justify-content-around align-items-center">
                            <button type="button" class="btn" onclick=moreSkills()>
                                <img src="/images/add-file.png" alt="" width="40px" height="40px">
                            </button>
                            <button type="button" class="btn" onclick=removeDiv()>
                                <img src="/images/minus-sign.png" alt="" width="45px" height="45px">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <% }else{ %>
            <div class="container mt-5 d-flex justify-content-center " id="SkillsDiv">
                <div class="col-md-8 col-lg-6 form-container">
                    <h3 class="text-center mb-4">Fill Up Skills</h3>
                    <form>
                        <div class="multipleSkills"> 
                            <% arr.forEach(function(item){ %>
                                <div class="moreSkills"> 
                                    <div class="mb-3">
                                        <label for="skillName1" class="form-label">Skill-<%= skillCount++ %></label>
                                        <input type="text" class="form-control skillName1" value="<%=item.skill_name1%>" placeholder="Enter Skill">
                                        <small class="text-danger skill0Error"></small>
                                    </div>
                                    <div class="mb-4">
                                        <label for="customRange1" class="form-label">select ratings</label>
                                        <input type="range" class="form-range customRange1" min="0" max="5" value="<%=item.ratings1%>">
                                        <small class="text-danger range0Error"></small>
                                    </div>
                                    <div class="mb-3">
                                        <label for="skillName2" class="form-label">Skill-<%= skillCount++ %></label>
                                        <input type="text" class="form-control skillName2" value="<%=item.skill_name2%>" placeholder="Enter Skill">
                                        <small class="text-danger skill1Error"></small>
                                    </div>
                                    <div class="mb-4">
                                        <label for="customRange2" class="form-label">select ratings</label>
                                        <input type="range" class="form-range customRange2" min="0" max="5" value="<%=item.ratings2%>">
                                        <small class="text-danger range1Error"></small>
                                    </div>
                                </div>
                            <% }) %>
                        </div> 
                        <div>
                            <div class="d-flex justify-content-around align-items-center mb-3">
                                <button type="button" class="btn btn-primary" id="skillsDetails">Save Skills</button>
                                <button type="button" class="btn btn-secondary" onclick="gotoNXTPage()">Nxt page</button>
                            </div>
                            <div class="d-flex justify-content-around align-items-center">
                                <button type="button" class="btn btn-warning" onclick="gotoWorkExpPage()">Previous page</button>
                            </div>
                            <div class="d-flex justify-content-around align-items-center">
                                <button type="button" class="btn" onclick=moreSkills()>
                                    <img src="/images/add-file.png" alt="" width="40px" height="40px">
                                </button>
                                <button type="button" class="btn" onclick=removeDiv()>
                                    <img src="/images/minus-sign.png" alt="" width="45px" height="45px">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    <% } %>
<!-- skill k id ya class me, frontend, backend indexing 0 se start thi multiple rows implement krne se pehle -->
<!-- lekin ab 1 se so dont get confuse in future  -->

    <script src="/js/skill.js"></script>
</body>
</html>